name: Deploy website
on:
  push:
    branches:
      - master
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: echo "install dependencies"
  build:
    needs: test
    runs-on: ubuntu-latest
    outputs:
      script-file: ${{ steps.publish.script-file }}
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: echo "Run Tests"
      - name: Build
        run: |
          mkdir dist
          touch dist/myfile.txt
          echo "hello" > dist/myfile.txt
      # store artefacts
      - name: Upload Artefact
        uses: actions/upload-artifact@v3
        with: 
          name: dist-files
          path: |
            dist
      - name: working with outputs
        id: publish
        run: echo "script-file=file.txt" >> $GITHUB_OUTPUT;
      
  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          name: dist-files
      - name: output
        run: ls
      - name: Deploy
        run: echo "Deploying..."
      - name: output filename
        run: echo "${{ needs.build.outputs.script-file }}"
