name: 16 composite

on:
    push:
        branches: 
            - master

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: hello
              uses: ./.github/actions/my-action
              with: 
                name: Luke